.categories {
  width: 300px;
  height: 50px;
  color: #000;
  margin: 20px 0px !important;
}
.btn {
  background-color: #FF5733 !important;
}
.main {
  display: flex;
  justify-content: center;
}
.quiz-time {
  text-decoration: none !important;
  color: #0A1D3A;
  font-size: 2.5em;
  font-family: cursive;
  position: absolute;
  margin: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.quiz-form {
  margin: 100px;
  width:  inherit;
}
.op-button {
  width: 300px;
  margin: 20px !important;
  background-color: #DAF7A6;
  color: #000 !important;
}
.ops-wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 20px;
}
.home-wrapper {
  margin: 170px 0px;
}
.result {
  display: block;
  position: relative;
  top: 20vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-buttons {
  background-color: grey !important;
  margin: 20px !important;
  float: right;
  color: #000 !important;
}

.App-link {
  color: #61dafb;
}

