.categories {
  width: 300px;
  height: 50px;
  color: #000;
  margin: 20px 0px !important;
}
.btn {
  background-color: #FF5733 !important;
}
.main {
  display: flex;
  justify-content: center;
}
.quiz-time {
  text-decoration: none !important;
  color: #0A1D3A;
  font-size: 2.5em;
  font-family: cursive;
  position: absolute;
  margin: 20px;
}
.quiz-form {
  margin: 100px;
  width:  inherit;
}
.op-button {
  width: 300px;
  margin: 20px !important;
  background-color: #DAF7A6;
  color: #000 !important;
  text-transform: capitalize !important;
}
.ops-wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 20px;
}
.home-wrapper {
  margin: 170px 0px;
}
.result {
  display: block;
  position: relative;
  top: 20vh;
}
.nav-buttons {
  background-color: #0A1D3A !important;
  margin: 20px !important;  
  color: #fff !important;
  font-size: 20px !important;
  text-transform: capitalize !important;
}
.quiz-time {
  background-color: #0A1D3A;
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

